/* Body styles */
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    background: linear-gradient(to right, #333333, #0733ac);
    color: #ffffff;
    font-size: 24px;
  }

