/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  background: linear-gradient(to right, #333333, #0733ac);
  color: #ffffff;
  font-size: 24px;
}

/* Main styles */
main {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Slideshow styles */
.slideshow {
  position: relative;
  height: 100vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active {
  opacity: 1;
}

/* Features styles */
.features {
  margin-bottom: 40px;
  height: 100vh;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* CTA styles */
.cta {
  display: flex;
  height: 100vh;
  align-items: flex-start;
  background: linear-gradient(to right, #0733ac, #333333);
}

.cta-content {
  flex: 1;
}

.cta-image {
  margin-left: 20px; /* Adjust the margin as needed */
}

.cta h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  background-color: #333333;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: auto;

}

footer p {
  font-size: 14px;
}

/* Search results styles */
.header-search {
  position: absolute;
  top: 20px;
  left: 20px;
}

#search-results {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#suggestion-list {
  list-style-type: none;
  padding: 10px;
}

.search-suggestion {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  color: #000000;
}

.search-suggestion:hover {
  background-color: #f2f2f2;
}

/* Image styles */
header {
  background-color: #3c3d41;
  padding: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search {
  margin-bottom: 20px;
  text-align: center;
}

.header-search input[type="text"] {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.header-search button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0733ac;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-search button:hover {
  background-color: #71aad8;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #0733ac;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #71aad8;
}

/* CSS code for the header content */
.header-content {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.header-content h1 {
  margin-bottom: 10px;
}

.header-content p {
  margin-top: 10px;
}

/* CSS code for the bottom image */
.small-image {
  width: 400px; /* Adjust the width as desired */
  height: auto;
}

/* styles for linked text*/

a {
  color:#ffffff;
  /* Additional styles if desired */
}
p a {
  color: #ffffff;
}

